body{
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(179, 194, 223);
}
header{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}
header .profile-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
header .profile-name {
   direction: flex;
    margin-left: 15px;
    margin-top: 10px;
}
header .follow-btn {
    background: rgb(255, 255, 255);
    display: flex;
    width: 80px;
    height: 40px;
    margin-block-start: 20px;
    margin-left: auto;
    margin-top: 10px;
    border: 0;
    border-radius: 20px;
    border-color: rgb(179, 194, 223) ;
}
header .follow-btn button {
    width: 80px;
    border: 0;
    border-radius: 20px;
    padding: 8px;
    opacity: 1;
    
}
header h3 {
    
    margin-top: 3px;
    
    
}
header h4 {
   
    margin-top: 15px;
   
}
header .avi {
    background: rgb(179, 194, 223);
   margin-top: 15px;
   margin-left: 10px;
   margin-right: 8px;
}
header .tick {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#inner p{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    font-size: 20px;
}
#inner span{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 15px;
}
#inner hr {
    
    margin: 20px 0;
    border-style: solid;
    opacity: 0.1;
}
footer {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}
footer .stats {
display: flex;
font-size: 15px;
}
footer .stats strong {
    font-size: 18px;
}
footer .stats .likes {
    margin-left: 20px;
}
footer .cta {
    margin-left: auto;
}
.backlink {
    position: absolute;
    top: 90%;
    left: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    word-spacing: 5px;
    letter-spacing: 3px;
}

a {
    color: black;
}
a:hover {
    color: blueviolet;
}
a:active {
    color: crimson;
}